@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

/* 入力系の見やすさを底上げ */
input,
select,
textarea {
  color: var(--color-neutral-900);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-neutral-400);
}
